/* ==========================================================================
   Notifications and message

   Default Mendix & DISW notification and message blocks
========================================================================== */
%notification-block {
    .notification-header,
    .message-header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        h4, h5 {
            font-size: $font-size-medium;
            margin-bottom: $spacing-smaller;
        }
        .sub-field {
            font-size: $font-size-small;
        }
    }

    .icon-block {
        @extend %icon-block-large;
        margin-right: $spacing-default;
    }

    .message-content,
    .notification-content {
        margin-top: $spacing-default;
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.notification-block,
.message-block {
    @extend %notification-block;
}

// Notifications counter for usage in a.o. navigation
.notification-counter-wrapper {
    .microflow-timer {
        display: none;
    }
}

.notification-counter {
    color: $brand-inverse;
    font-size: $font-size-smaller;
    text-align: center;

    border:1px solid $brand-inverse;
    border-radius: $font-size-smaller;

    display: block;
    padding: 0 2px 1px 2px;
    min-width: calc((#{$font-size-smaller} * #{$line-height-base}) + 2px);

    line-height: calc((#{$line-height-base}*1em) - 1px);

    background-color: $Siemens_Blue_13;

    .microflow-timer {
        display: none;
    }
}