.breadcrumbcustomitem{
    color:white !important;
    text-decoration:none !important;
}
.custom___bread a + a::before{
    color:white;
    font-size: 8px;
}
.custom___bread{
    margin-bottom: 4px !important;
}
.BreadCrumBtn{
    position: relative;
    top: -13px;
    font-size: 11px;
}
.BreadCrumBtnQADashbord{
    font-size: 11px;
}
@media only screen and (min-width:250px) and (max-width:767px) {
  .BreadCrumBtn{
      left:75px;
      font-size: 9px;
  }
}

@media only screen and (max-width:323px) {
    .BreadCrumBtn{
        left:15px;
    }
}