//== Core style exclusion
$exclude-bootstrap: true;
$exclude-mxui: true;
$exclude-animations: false;
$exclude-flex: false;
$exclude-spacing: true;
$exclude-base: true;
$exclude-login: false;

//== Widget style exclusion
$exclude-accordion: false;
$exclude-accordion-helpers: false;
$exclude-background-helpers: true;
$exclude-badge: true;
$exclude-badge-button: true;
$exclude-badge-button-helpers: true;
$exclude-barcode-scanner: false;
$exclude-button: true;
$exclude-button-helpers: true;
$exclude-check-box: true;
$exclude-custom-dijit-widget: true;
$exclude-custom-switch: true;
$exclude-data-grid: true;
$exclude-data-grid-helpers: true;
$exclude-data-view: true;
$exclude-data-picker: true;
$exclude-gallery: false;
$exclude-gallery-helpers: false;
$exclude-glyphicon: true;
$exclude-grid: true;
$exclude-group-box: true;
$exclude-group-box-helpers: true;
$exclude-header: true;
$exclude-helper-classes: true;
$exclude-input: true;
$exclude-image-helpers: true;
$exclude-label: true;
$exclude-label-helpers: true;
$exclude-layout-grid: true;
$exclude-list-view: true;
$exclude-list-view-helpers: true;
$exclude-modal: true;
$exclude-navigation-bar: true;
$exclude-navigation-bar-helpers: true;
$exclude-navigation-list: true;
$exclude-navigation-tree: true;
$exclude-navigation-tree-helpers: true;
$exclude-pagination: true;
$exclude-pop-up-menu: true;
$exclude-progress: true;
$exclude-progress-bar: true;
$exclude-progress-bar-helpers: true;
$exclude-progress-circle: true;
$exclude-progress-circle-helpers: true;
$exclude-radio-button: true;
$exclude-range-slider: true;
$exclude-range-slider-helpers: true;
$exclude-rating: true;
$exclude-rating-helpers: true;
$exclude-simple-menu-bar: true;
$exclude-simple-menu-bar-helpers: true;
$exclude-slider: true;
$exclude-slider-helpers: true;
$exclude-table: true;
$exclude-table-helpers: true;
$exclude-tab-container: true;
$exclude-tab-container-helpers: true;
$exclude-template-grid: true;
$exclude-template-grid-helpers: true;
$exclude-timeline: true;
$exclude-tree-node: false;
$exclude-tree-node-helpers: false;
$exclude-typography: true;
$exclude-typography-helpers: true;

//== Layouts style exclusion
$exclude-layout-atlas: true;
$exclude-layout-atlas-phone: false;
$exclude-layout-atlas-responsive: true;
$exclude-layout-atlas-tablet: false;