.Con_1 {
  width: 425px;
  height: 90px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
  padding:5px 4px 7px 0px;
  
}
.Con_2 {
  width: 460px;
  height: 90px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
  padding:5px 4px 7px 0px;
}

.HLayout_Col1{
  padding: 2px 0px 10px 6px;
}  
.HLayout_Col2{
  padding:2px 1px 19px 57px;
  margin-left: 6%;
}

.HLayout_Col3{
//  padding: 2px 1px 13px 58px;
  padding: 2px 1px 13px 110px;
  margin-left: 6%;
}


.tile_l2 {
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  color: #464646;
  text-align: left;
  line-height: 16px;
}

.tile_l1 {
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
  color: #1e1e1e;
  text-align: left;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: -8px;
}

.HDiv_block{
  padding: 0px 8px 0px 0px;;
  padding-left: 3px;
  margin-block: 2px;
  margin-right: -25px;
}

.HDiv_block_c1{
  padding:2px 0px 7px 0px;
  padding-left: 0px;
  margin-block: 2px;
  margin-right: -30px;
  margin-left: -16px;
}
.HDiv_block2{
  padding: 2px 8px 7px 0px;
  padding-left: 0px;
  margin-block: -2px;
  margin-right: -24px;
  margin-left: -4px;
}

.HomeBtn {
  width: 326px;
  height: 40px;
  padding: 4px 8px 4px 8px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
background-color: #ffffff;
color: #005f87;
margin-top: -6%;
    margin-left: -1%;
}

.hImg_style{
  padding: 2px 0px 8px 0px;
  margin: 9px;                                   
  height: auto;
  width: 48px;
}

.hImg_style1{
  padding: 2px 0px 8px 0px;
  margin-top: -6px;
  margin-left: 10px;                                   
  height: auto;
  width: 48px;
}


.Hchecked1{
 // margin-left:-5px;
  margin-bottom: -17px;
  padding-left: 25px;
}
