.lcs1_add_name{
    padding-top: 26px;
    padding-left: 8px;
    padding-right: 8px;
}

.lcs1_add_value{
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.lcs1_add_selectConfig{

    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.Lcs1_btnDiv{
   // background-color: #ffffff;
    padding-top: 400px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -10px;
    margin-right: 16px;
}

.Lcs2_btnDiv{
    // background-color: #ffffff;
     padding-top: 400px;
     padding-left: 3px;
     padding-right: 10px;
     margin-left: -19px;
    margin-right: 16px;
 }
 
 .nds2_ns_btnDiv{
    padding-top: 500px;
    padding-left: 0px;
    padding-right: 47px;
    margin-left: -50px;
   margin-right: 16px
 }

