// shown pages to right side

.LcsAdd_config{
    width: 700px;
    right:95% !important;
    height:100% !important;
    transition: transform 1s ease-in-out !important;
   transform: translateX(130%);
    padding : 24px 30px 60px 60px;
    margin-right: 40px;
   
}

.lcs_editpage{
    width: 700px;
    right:95% !important;
    height:100% !important;
    transition: transform 1s ease-in-out !important;
   transform: translateX(130%);
    padding : 24px 30px 60px 60px;
    margin-right: 40px; 
}

.lsc2Add_pages{
    width: 600px;
    right:95% !important;
    height:100% !important;
    transition: transform 1s ease-in-out !important;
   transform: translateX(140%);
    padding : 24px 30px 60px 60px;
    margin-right: 40px; 
}

.lcs2Addproj{
    width: 700px;
    right:95% !important;
    height:100% !important;
    transition: transform 1s ease-in-out !important;
   transform: translateX(350%);
    padding : 24px 30px 60px 60px;
    margin-right: 40px; 
}

.lcs2AddCollab{
    width: 600px;
    right:95% !important;
    height:100% !important;
    transition: transform 1s ease-in-out !important;
   transform: translateX(140%);
    padding : 24px 30px 60px 60px;
    margin-right: 40px; 
}
.ndsAddnew{
    width: 600px;
    right:95% !important;
    height:100% !important;
    transition: transform 1s ease-in-out !important;
   transform: translateX(10%);
    padding : 24px 30px 60px 60px;
    margin-right: 40px; 
}


.nds2_add_ns{
    width: 700px;
    right:95% !important;
    height:100% !important;
    transition: transform 1s ease-in-out !important;
   transform: translateX(360%);
    padding : 24px 30px 60px 60px;
    margin-right: 40px; 
}


.nds2_create_schema{
    width: 700px;
    right:95% !important;
    height:100% !important;
    transition: transform 1s ease-in-out !important;
   transform: translateX(10%);
    padding : 24px 30px 60px 60px;
    margin-right: 40px; 
}
