.homepage____ScrollContainer .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-container2 .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-4 img{
    width: 47%;
}

.homepage____ScrollContainer .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-container2 .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-5 img{
    width: 48%;
}

.homepage____ScrollContainer .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-container2 .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-7 img{
    width: 48%;
}
.homepage____ScrollContainer .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-container2 .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-8 img{
    width: 48%;
}
.homepage____ScrollContainer .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-container2 .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-6 img{
    width: 48%;
}
.homepage____ScrollContainer .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-container2 .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-10 img{
    width: 48%;
}
.homepage____ScrollContainer .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-container2 .navbar .navbar-nav .dropdown .dropdown-menu li a{
    padding-bottom: 14px;
}
.homepage____ScrollContainer .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-container2 .navbar .navbar-nav .dropdown .dropdown-menu li a img{
    margin-left: 3px;
    width: 33px;
}






.Home__ScrollCont .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-navigationContainer .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-4 img{
    width: 47%;
}
.Home__ScrollCont .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-navigationContainer .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-5 img{
    width: 48%;
}
.Home__ScrollCont .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-navigationContainer .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-7 img{
    width: 48%;
}
.Home__ScrollCont .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-navigationContainer .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-6 img{
    width: 48%;
}
.Home__ScrollCont .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-navigationContainer .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-8 img{
    width: 48%;
}
.Home__ScrollCont .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-navigationContainer .navbar .navbar-nav .mx-navbar-item .mx-name-menuBar1-10 img{
    width: 48%;
}
.Home__ScrollCont .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-navigationContainer .navbar .navbar-nav .dropdown .dropdown-menu li a{
    padding-bottom: 14px;
}
.Home__ScrollCont .mx-scrollcontainer-left .mx-scrollcontainer-wrapper .mx-name-navigationContainer .navbar .navbar-nav .dropdown .dropdown-menu li a img{
    margin-left: 3px;
    width: 33px;
}


