.multi_btn1{
    padding-left: 38px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;


}
.multi_btn2{
    padding-left: 45px; 
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;

}

.multi_btn3{
        padding-left: 38px;    
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;

    
}
.multi_btn4{
        padding-left: 38px; 
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
    
    }
 .multi_btn5{
        padding-left: 38px; 
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;

    
    }

.multi_btn6{
    padding-left: 38px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;


}
.multi_btn7{
    padding-left: 38px;  
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;


}
.multi_btn8{
    padding-left: 1500px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;


}



.multiL_table1{
    margin-left: -16px;
    width: 2500px;
}

.Multi_side_con1{
    padding-top: 20px;
    padding-bottom: 25px;
    
}

.Multi_side_con2{
    padding-bottom: 25px;
}

.multi_con2{
    padding-top: 20px;
}

.Mutli_layout_side{
    background-color: #f0f0f0;
  padding-bottom: 480px;
}
