.CustomNavbar{
   padding-top: 0px !important;
}

.CustomSignOutBar
.navbar
.nav
.mx-navbar-item
.dropdown-menu
.mx-navbar-subitem
.mx-name-menuBar2-0-0{
	img{	
		display: inline-block;
    	margin-top: -6px;
	}
    font-size: 11px;
}