.padding-left-0px{
    .mx-groupbox-body{
    padding-left: 0px !important;
}
.mx-listview li{
    
    border:0px !important;
    background-color: #f2f2f2;
    
}
.mx-listview li:hover{
    background-color: rgb(205 230 235);
}
}


.file-details-div{
    line-height: 0.5 !important;
    padding: 5px !important;
   
}


.AccountNew__Dataview__Custom text
{
    padding: 2px 2px 2px 8px;
    border-radius: 2px;
    border: 1px solid #969696;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%);
}