.searchBar{
  

}
.searchpage-div1{
    background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: #333333;
  text-align: center;
  line-height: normal;
}