.email_config_con1{
    padding: 25px;
    margin-left: -15px;
}

.email_table1 td{
border:none;
}

.email_table2 td{
    border:none;
}

.email_side_bar{
    background-color: #f0f0f0;
  padding-bottom: 480px;
}


.email_sidebar_info{
padding-top: 30px;
}

.email_info_text1{
    font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
    font-weight: 600;
    color: #0f789b;
    text-align: left;
    line-height: normal;
}
.email_info_text2{
box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  color: #5a5a5a;
  text-align: left;
  line-height: normal;
}

.email_info_page{
    width: 700px;
    right:95% !important;
    height:100% !important;
    transition: transform 1s ease-in-out !important;
   transform: translateX(360%);
    padding : 24px 30px 60px 60px;
    margin-right: 40px; 
}

.emai_con_con3{
    width: 481px;
  height: 69px;
  padding: 14px 10px 10px 20px;
border-radius: 3px;
border: 1px solid #62bfd4;
background-color: #e3faff;
box-sizing: border-box;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.35);
font-family: "Segoe UI", sans-serif;
color: #333333;
text-align: left;
line-height: normal;
margin-left: 13px;
}

.email_con_div4{
    padding-top: 15px;
    margin-right: 2130px;
    margin-left: -53px;
}

.btn_test{
    //width:1607px;
}

.btn_save{
    
 //   padding: 0px 0px 1px 0px;
  border-radius: 2px;
  border: 1px solid #003951;
  background-color: #005f87;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: normal;
 // margin-right: 5px;
}

.email_info_summery{
    padding-top: 20px;
    padding-bottom: 20px;
}

