.UIHeaderLayout{
top: 96px;
left: 88px;
width: 956px;
height: 39px;
}
.UIHeader{
    text-align: left;
    font: normal normal normal 30px/39px Segoe UI;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}
.UIContent_Layout{
top: 159px;
left: 88px;
width: 1714px;
height: 84px;
}
.UIContent{
text-align: left;
font: normal normal normal 14px/19px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.typicaluse_layout{
top: 267px;
left: 88px;
width: 538px;
height: 27px
}
.typicalsceheader{
text-align: left;
font: normal normal normal 21px/27px Segoe UI;
letter-spacing: 0px;
color: #1E1E1E;
opacity: 1;
}
.typicalPara1_Layout{
top: 302px;
left: 88px;
width: 1714px;
height: 33px
}
.typical_para1{
    text-align: left;
font: normal normal normal 14px/19px Segoe UI;
letter-spacing: 0px;        
color: #707070;
opacity: 1;
}
.typical_para2_layout{
top: 371px;
left: 88px;
width: 1714px;
height: 60px;
}
.typical_para2{
    text-align: left;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

//MultiLanguage
.langpara1layout{
    top: 159px;
left: 88px;
width: 1714px;
height: 47px;
}
.langpara2layout{
    top: 208px;
left: 88px;
width: 1714px;
height: 38px;
}
.addaditionalheader_layout{
    top: 596px;
    left: 88px;
    width: 538px;
    height: 27px;
}
.howitworksLayout{
    top: 291px;
left: 88px;
width: 1350px;
height: 298px
}
.lastlayout{
    top: 631px;
left: 88px;
width: 1350px;
height: 86px
}
