.sso3_layout1{
    padding-top: 26px;
    padding-left: 10px;
}

.sso3_con1{
    padding-left: 5px;
    padding-bottom: 25px;
   

}
.sso3_con2{
    margin-left: 17px;
    padding-left: 13px;
    margin-bottom: 16px;
    padding-top: 25px;
    padding-bottom: 8px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
    font-weight: 600;
    color: #1e1e1e;
    text-align: left;
    line-height: normal;

}

.sso3_conAll{
    margin-left: -4px;
    padding-left: 16px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    padding-top: 25px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
    font-weight: 600;
    color: #1e1e1e;
    text-align: left;
    line-height: normal;

}

.sso3_con3{
    padding-left: 3px;
}

.sso3_table1 td{
   
    border: none;
    width: 328px;
    height:52px;
}
.sso3_table1{
    margin-left: -15px;
}
.box_shadowes{
box-sizing: border-box;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
  font-family: "Segoe UI", sans-serif;
  color: #aaaaaa;
  text-align: left;
}

.sso_con_bar{
    padding-top: 26px;
    padding-left: 16px;
}

.sso3_table1_cell1{
    width: 380px;
}

.App_config_table{
    padding-bottom: 25px;;
}